* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #000;
  color: #fff;
}

/* HEADER */
.header {
  background: #0f0f0f;
  padding: 20px;
  border-bottom: 2px solid #f47521;
}

.header h1 {
  color: #f47521;
  font-size: 2rem;
}

.tagline {
  font-size: 0.9rem;
  color: #bbb;
}

/* ANIME GRID */
.anime-section {
  display: flex;
  gap: 20px;
  padding: 25px;
  flex-wrap: wrap;
}

/* CARD */
.anime-card {
  width: 160px;
  cursor: pointer;
  transition: transform 0.3s;
}

.anime-card img {
  width: 100%;
  border-radius: 10px;
}

.anime-card h3 {
  margin-top: 8px;
  font-size: 0.95rem;
}

.anime-card:hover {
  transform: scale(1.08);
}

/* PLAYER */
.player {
  display: flex;
  justify-content: center;
  padding: 20px;
}

iframe {
  width: 100%;
  max-width: 720px;
  height: 405px;
  border-radius: 14px;
  border: none;
}

/* MOBILE */
@media (max-width: 600px) {
  .anime-section {
    justify-content: center;
  }

  iframe {
    height: 230px;
  }
}
